body {
    max-width: 1200px;
}

.block1 {
    background-color: black;
    padding: 20px;
}
.nav {
    display: flex;
    background-color: rgb(62, 70, 109);
    padding: 15px;
    gap: 15px;
}

.menu {
    background-color: coral;
    padding: 10px;
    border: 25px gray;
    flex-grow: 1;
}

.menu:nth-child(2){
    flex-grow: 4;
}

.banner {
    background-color: yellow;
    border: 15px solid orange;
}